nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') 大学无忧公众号管理系统
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
                span.glyphicon.glyphicon-user(aria-hidden='true')
                |  文章发布
            li
              a(href='#') 微信管理
            li
              a(href='#') 系统管理