.col-sm-3.col-md-3.left-side
  ol.breadcrumb.new-breadcrumb
    li
      a(href='#') 文章发布
    li.active 新建文章
  ul.nav.nav-pills.nav-stacked.left-side-nav
    li.active
      a#addressBook(href='#')
        span.glyphicon.glyphicon-search(aria-hidden='true')
        |  文章列表
        span.sr-only (current)
    li
      a(href='#')
        span.glyphicon.glyphicon-cog(aria-hidden='true')
        |  设置
    li
      a(href='#') 其他