
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header"><a href="#" class="navbar-brand">大学无忧公众号管理系统</a>
      <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-user"></span> 文章发布</a></li>
        <li><a href="#">微信管理</a></li>
        <li><a href="#">系统管理</a></li>
      </ul>
    </div>
  </div>
</nav>