
<div class="col-sm-3 col-md-3 left-side">
  <ol class="breadcrumb new-breadcrumb">
    <li><a href="#">文章发布</a></li>
    <li class="active">新建文章</li>
  </ol>
  <ul class="nav nav-pills nav-stacked left-side-nav">
    <li class="active"><a id="addressBook" href="#"><span aria-hidden="true" class="glyphicon glyphicon-search"></span> 文章列表<span class="sr-only">(current)</span></a></li>
    <li><a href="#"><span aria-hidden="true" class="glyphicon glyphicon-cog"></span> 设置</a></li>
    <li><a href="#">其他</a></li>
  </ul>
</div>